* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(120deg, #f6d365, #fda085);
  color: white;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}

header {
  font-size: 2rem;
}

header,
form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  input,
  button {
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background: white;
  }

  button {
    color: #ff6f47;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      background: #ff6f47;
      color: white;
    }
  }
}

.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;

  ul {
    min-width: 30%;
    list-style: none;
  }
}

.todo {
  margin: 0.5rem;
  background: white;
  color: black;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.5s ease;
  li {
    flex: 1;
    padding: 0rem 0.5rem;
  }
}

.complete-btn,
.trash-btn {
  background: #ff6f47;
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
}

.complete-btn {
  background: rgb(11, 212, 162);
}

.fa-check,
.fa-trash {
  pointer-events: none;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

.fall {
  transform: translateY(8rem) rotateZ(20deg);
  opacity: 0;
}

select {
  appearance: none;
  outline: none;
  box-shadow: none;
  border: 0 !important;
  background-image: none;
  outline: 0;
  color: #ff6f47;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  width: 12rem;
  padding: 1rem;
}

.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
  &::after {
    content: "\25BC";
    position: absolute;
    background: #ff6f47;
    top: 0;
    right: 0;
    pointer-events: none;
    padding: 1rem;
    transition: all 0.3s ease;
  }
  &:hover::after {
    background: white;
    color: #ff6f47;
  }
}

.darkMode {
  background: rgb(73, 67, 67);
}
